@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Public Sans";
  src: url(./assets/fonts/public-sans/PublicSans-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url(./assets/fonts//public-sans/PublicSans-Italic-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: italic;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* App based colors  */
  /* Beige  */
  --color-beige-100: hsl(30, 36%, 96%);
  --color-beige-500: hsl(23, 6%, 57%);

  /* Grey */
  --color-grey-0: hsl(0, 0%, 100%);
  --color-grey-100: hsl(0, 0%, 95%);
  --color-grey-300: hsl(0, 0%, 70%);
  --color-grey-500: hsl(0, 0%, 41%);
  --color-grey-900: hsl(252, 7%, 13%);

  /* Secondary Colors  */
  --color-green-sec: hsl(177, 52%, 32%);
  --color-yellow-sec: hsl(28, 73%, 81%);
  --color-cyan-sec: hsl(190, 52%, 68%);
  --color-navy-sec: hsl(248, 8%, 41%);
  --color-red-sec: hsl(7, 58%, 50%);
  --color-purple-sec: hsl(259, 30%, 56%);

  /* Other colors  */
  --color-purple-other: hsl(288, 29%, 62%);
  --color-turquoise-other: hsl(180, 16%, 42%);
  --color-brown-other: hsl(21, 30%, 44%);
  --color-magenta-other: hsl(332, 30%, 44%);
  --color-blue-other: hsl(205, 48%, 47%);
  --color-navy-grey-other: hsl(214, 11%, 63%);
  --color-army-green-other: hsl(83, 20%, 47%);
  --color-gold-other: hsl(47, 50%, 59%);
  --color-orange-other: hsl(18, 47%, 52%);

  /* Typography  */
  --text-xs: 12px;
  --text-xs--line-height: 150%;
  --text-xs--letter-spacing: 0px;

  --text-sm: 14px;
  --text-sm--line-height: 150%;
  --text-sm--letter-spacing: 0px;

  --text-base: 16px;
  --text-base--line-height: 150%;
  --text-base--letter-spacing: 0px;

  --text-lg: 20px;
  --text-lg--line-height: 120%;
  --text-lg--letter-spacing: 0px;

  --text-3xl: 32px;
  --text-3xl--line-height: 120%;
  --text-3xl--letter-spacing: 0px;
  --font-sans: "Public Sans", sans-serif;
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: hsl(252, 7%, 13%);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: hsl(252, 7%, 13%);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: hsl(23, 6%, 57%);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* ---break---  */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@keyframes bounce-dot {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
